.alert-popover {
    position: fixed;
    width: fit-content;
    max-width: 70%;
    padding: 8px 12px;
    color: white;
    background-color: green;
    border-radius: 4px;
    animation: animate-popover 3s;
}
@keyframes animate-popover {
    0% {
        top: -100%;
        left: 50%;
        transform: translateX(-50%);
    }
    20% {
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
    }
    80% {
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
    }
    100% {
        top: -100%;
        left: 50%;
        transform: translateX(-50%);
    }
}

.alert-popover.error {
    background-color: red;
}