.ball.free-play > img {
    color: #fff;
}

.ball.one > img {
    color: #8cd521;
}

.ball.two > img, .ball.cpu > img {
    color: #e3692c;
}

.ball.three > img {
    color: #6a29cc;
}

.ball.four > img {
    color: #d572d5;
}

.ball.five > img {
    color: #8bbcf7;
}

.ball.six > img {
    color: #f3d66b;
}
