.score-board {
    display: none;
    flex: 1;
}

.score-board.show {
    display: block;
}

.score-board > table td,
.score-board > table th {
    text-align: left;
    padding: 0.5rem 0.375rem;
    border: 0.0625rem solid black;
}

.score-board > table {
    border-collapse: collapse;
    width: 100%;
}

.score-board > table td {
    border-style: dashed;
    padding: 0.375rem;
}

.score-board > table > caption {
    font-size: 1.25rem;
}

@media (max-width: 1024px) {
    .score-board {
        margin-top: 2rem;
        width: 100%;
    }
    .score-board > table {
        margin: auto;
        min-width: 50%;
        width: fit-content;
    }
}

@media (max-width: 576px) {
    .score-board > table {
        width: 100%;
    }
}
