.score-board {
    display: none;
    flex: 1;
}

.score-board.show {
    display: block;
}

.score-board > table td,
.score-board > table th {
    text-align: left;
    padding: 8px 6px;
    border: 1px solid black;
}

.score-board > table {
    border-collapse: collapse;
    width: 100%;
}

.score-board > table td {
    border-style: dashed;
    padding: 6px;
}

.score-board > table > caption {
    font-size: 20px;
}

@media (max-width: 1024px) {
    .score-board {
        margin-top: 32px;
        width: 100%;
    }
    .score-board > table {
        margin: auto;
        min-width: 50%;
        width: fit-content;
    }
}

@media (max-width: 576px) {
    .score-board > table {
        width: 100%;
    }
}