.theme-toggle {
	position: absolute;
	top: 0.25rem;
	right: 0.25rem;
}

.switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 1.5rem;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #232323;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	width: 36%;
	aspect-ratio: 1;
	left: 10%;
	bottom: 50%;
	transform: translateY(50%);
	background-color: white;
	transition: .4s;
}

input:checked + .slider {
	background-color: #a7bc04;
}

input:focus + .slider {
	box-shadow: 0 0 0.0625rem #a7bc04;
}

input:checked + .slider:before {
	transform: translateX(120%) translateY(50%);
}

.slider.round {
	border-radius: 2.125rem;
}

.slider.round:before {
	border-radius: 50%;
}
